@font-face {
    font-family: "myFont";
    src: url('Cairo-VariableFont_wght.ttf');
}

* {
    font-family: 'myFont', sans-serif;
    margin: 0;
    padding: 0;
}

body {

    direction: rtl;
    text-align: right;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: right;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #555;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 1001;
}

.input-group {
    margin-bottom: 15px;
}

label {
    /* display: block; */
    margin-bottom: 5px;
    font-weight: bold;
    margin: 0.5em;
}
label:hover{
    cursor: pointer;
}

input:not(input[type="checkbox"]){
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

input.valid {
    border-color: #28a745;
}

input.invalid {
    border-color: #dc3545;
}

.validation-message {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #dc3545;
}

.book-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bookImg{
    border-radius: 10px;
}
